@import "../../../../styles/variables.scss";

.this__day {
  position: relative;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  box-shadow: $box-shadow;
  background: var(#{--components-background-default});
  border-radius: 20px;
}

.top__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;

  .this__temp {
    font-size: 96px;
    color: $blue-color;
    font-weight: 500;
  }

  .this_day_day {
    font-size: 40px;
    color: var(#{--cards-fontColor-default});
  }

  .this__day_img {
    width: 119px;
    height: 119px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.bottom__block {
  .this__time,
  .this__city {
    font-size: 25px;
    color: $base-color;
  }
}

